<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="webjars/vue/dist/vue.js"></script>
    <script src="/js/vue-resource-1.3.4.js"></script>
    <link rel="stylesheet"  href="webjars/bootstrap/3.3.7/css/bootstrap.css">
</head>

<body>
<div id="app">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" class="form-control" >
            </label>

            <label>
                Name:
                <input type="text" class="form-control" >
            </label>

            <input type="button" value="添加" class="btn btn-primary">

            <label>
                搜索名称关键字：
                <input type="text" class="form-control"  >
            </label>
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">删除</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</body>

</html>