<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="webjars/vue/dist/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <link rel="stylesheet"  href="webjars/bootstrap/3.3.7/css/bootstrap.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .disableHref{
            cursor:default;
            color:#E5E0E0;
            text-decoration:none;
        }
    </style>
</head>

<body>
<div id="app" v-cloak>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input maxlength="4" type="text" class="form-control" v-model="shop.id">
            </label>

            <label>
                Name:
                <input maxlength="10" type="text" class="form-control" v-model="shop.name" >
            </label>

            <input type="button"  @click="add()" value="添加"  class="btn btn-primary">

            <label>
                搜索名称关键字：
                <input type="text" class="form-control" v-model="keyword" >
            </label>
        </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="s in search(keyword)" :key="s.id" >
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.time | dateFormat('yyyy-mm-dd hh:mm:ss')}}</td>
            <td>
                <a href="" @click.prevent="remove(s.id)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav v-if="pagination.total!=0" style="position: absolute;left: 50%;transform: translate(-50%,-50%)" aria-label="Page navigation">
        <ul class="pagination">
            <li >
                <a  href="#" @click.prevent="jump('first')"   aria-label="start">
                    <span  v-bind:class="{disableHref:pagination.isFirstPage}" aria-hidden="true">首页</span>
                </a>
            </li>
            <li>
                <a href="#" @click.prevent="jump('pre')"   aria-label="Previous">
                    <span  aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li v-for="i in pagination.navigatepageNums"><a @click.prevent="jumpByNumber(i)"   href="#"><span disabled="pagination.pageNum==i" :class="{disableHref:pagination.pageNum==i}">{{i}}</span> </a></li>

            <li>
                <a href="#" @click.prevent="jump('next')"  :class="{ disableHref: !pagination.hasNextPage }" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li>
            <a href="#" @click.prevent="jump('last')" aria-label="end">
                <span :class="{ disableHref: pagination.pageNum==pagination.pages }"  aria-hidden="true">尾页</span>
            </a>
            </li>
        </ul>
    </nav>

</div>

<script>
    var vm = new Vue({
        el:'#app',
        data:{
           shop:{id:'',name:'',time:""},
            shops:[],
            searchs:[],
            pagination:{},
            keyword:""
        },
        created(){
            this.getAllList(1);
        },
        methods:{
            getAllList(start){
                axios.get("shops?start="+start+"").then(response => {
                    console.log(response.data)
                    vm.pagination = response.data.pageInfo
                   vm.shops = response.data.pageInfo.list
                   vm.searchs = response.data.list
                })
            },
            search(keyword){
               return this.searchs.filter(shop=>{
                    if(shop.name.includes(keyword)){
                        return shop;
                    }
                })
            },
            add(){

                this.shop.time = new Date()
            axios.post("shop",this.shop).then(function (response) {
              if(response.data<0) {
                  alert("添加失败，id重复");
              }else {
                  vm.getAllList(1);
                }
                vm.shop.id =  parseInt(vm.shop.id)+1 ;
            })
            },
            remove(id){
                axios.delete("shops/"+id+"").then(function (response) {
                    vm.getAllList(1);
                })
            },
            jumpByNumber: function(start){
                if(start!=vm.pagination.pageNum)
                    vm.getAllList(start);
            },
            jump: function(page){
                if('first'== page && 1!=vm.pagination.pageNum)
                    vm.getAllList(1);

                else if('pre'== page && vm.pagination.hasPreviousPage )
                    vm.getAllList(vm.pagination.prePage);

                else if('next'== page && vm.pagination.hasNextPage)
                    vm.getAllList(vm.pagination.nextPage);

                else if('last'== page && vm.pagination.pageNum!=vm.pagination.pages)
                    vm.getAllList(vm.pagination.pages);

            }
        },
        filters:{
            dateFormat:function (dateStr,pattern='yyyy-mm-dd') {
                var date = new Date(dateStr)
                var y = date.getFullYear();
                var m = (date.getMonth()+1).toString().padStart(2,'0');
                var d = date.getDate().toString().padStart(2,'0');
                if(pattern.toLocaleLowerCase() === 'yyyy-mm-dd'){
                    return `${y}-${m}-${d}`
                }else{
                    var hh = date.getHours().toString().padStart(2, '0')
                    var mm = date.getMinutes().toString().padStart(2, '0')
                    var ss = date.getSeconds().toString().padStart(2, '0')
                    return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                }
            }
        }
    })

</script>

</body>

</html>